<!-- Header -->
<nav class="navbar bg-primary bg-gradient py-0">
    <div class="container-fluid px-0 justify-content-center justify-content-sm-between" style="height: 65px;">
        <a class="d-none d-xl-inline-block"><img src='assets/images/logo-ministerio-interior.jpg' height="100%"
                alt='Ministerio del Interior'></a>
        <a class="h-100 mx-3"><img src='assets/images/logo-blanco.png' height="100%" alt='Logo'></a>
        <a class="d-none d-sm-inline-block"><img src='assets/images/escudo-cnp.png' height="100%"
                alt='Cuerpo Nacional de la Policía'></a>
    </div>
</nav>